# Dataset que vai classificar se são vinhos tintos, ou se são vinhos brancos

In [2]:
# https://www.kaggle.com/dell4010/wine-dataset
# Carregando conjunto de dados
import pandas as pd
arquivo = pd.read_csv("C:/Users/mlsil/OneDrive/Documentos/datasets/wine_dataset.csv")

In [5]:
# visualizar conjunto de dados
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

### seleciona a tabela que mostra se o vinho é tinto, ou é branco

In [7]:
# Renomear (replace) os dados da coluna 'red' para '0' por ser string
arquivo['style'] = arquivo['style'].replace('red', 0)

In [8]:
# Renomear (replace) os dados da coluna 'white' para '1' por ser string
arquivo['style'] = arquivo['style'].replace('white', 1)

In [9]:
# Separando as variáveis entre preditoras e variável alvo
y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [11]:
y.shape

(6497,)

In [12]:
from sklearn .model_selection import train_test_split

# criando os conjuntos de dados de treino e teste:
x_treino, x_teste, Y_treino, Y_teste = train_test_split(x, y, test_size = 0.3) #30% para teste, 70% para treino

### Utilizando o algorítimo de machine learning

In [15]:
from sklearn.ensemble import ExtraTreesClassifier # Trabalha com árvores de decisão
# Criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, Y_treino) # fit: aplicar função nos dados

# Imprimindo resultados:
resultado = modelo.score(x_teste, Y_teste) # score: vai olhar os dados de treino, e classificar os dados 
print("O resultado de Acurácia é de :", resultado)

O resultado de Acurácia é de : 0.9964102564102564

In [17]:
# Amostra #400 > #403
Y_teste[400:403]

290     0
991     0
6096    1
Name: style, dtype: int64

In [19]:
# Amostra #400 > #403
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
290,8.7,0.52,0.09,2.5,0.091,20.0,49.0,0.99760,3.34,0.86,10.6,7
991,7.1,0.34,0.28,2.0,0.082,31.0,68.0,0.99694,3.45,0.48,9.4,5
6096,6.3,0.29,0.30,8.1,0.212,60.0,150.0,0.99580,3.10,0.40,9.3,5

In [23]:
# predict: Passa como entrada essas 3 amostras nas variáveis preditoras
# predict: Pega um modelo treinado e faz uma previsão
previsoes = modelo.predict(x_teste[400:403])

In [24]:
previsoes

array([0, 0, 1], dtype=int64)